html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}


/*header*/
header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1.5rem;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo span {
  font-weight: bold;
}

nav a {
  margin-right: 1rem;
}

/*jumbotron*/
.jumbotron {
  display: flex;
  align-items: center;
  background-color: rgba(25, 196, 255, 1);
}

.jumbotron img {
  max-width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

.jumbo-text {
  max-width: 30%;
}

.jumbo-text h2 {
  font-size: 3rem;
}

.jumbo-text p {
  margin: 1.5rem 0;
}

.button {
  background-color: rgba(255, 156, 52, 1);
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}

/*information*/
.information {
  display: flex;
}

.big {
  padding: 2rem 1.5rem;
  width: 60%
}

.big img {
width: 100%;
}

.big h2 {
  margin: 2rem 0 1.5rem 0;
}

.big h5 {
  margin-top: 2rem;
}

.small {
  width: 40%;
}

.box {
  display: flex;
  align-items: center;
}

.box img {
  height: auto;
  width: 35%;
  margin: 1rem 1rem;
}

/*learning content*/
.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learning h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4.5rem;
}

.course-text {
  margin: 1rem 1rem;
  display: flex;
  flex-flow: column wrap;
}

.course {
  display: inline-flex;
  flex-flow: column wrap;
}

.course img {
  height: auto;
}

div {
  border: blue 1px solid;
}
