html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h2, h3 {
  font-family: "Bree Serif", sans-serif;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  font-size: 20px;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1.5rem;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo img {
  height: 50px;
  width: auto;
}

.logo span {
  font-weight: bold;
}

nav a {
  margin-right: 1rem;
}

/*jumbotron*/
.jumbotron {
  display: flex;
  align-items: center;
  background-color: rgba(25, 196, 255, 1);
}

.jumbotron img {
  max-width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
}

.jumbo-text {
  max-width: 30%;
}

.jumbo-text h2 {
  font-size: 3rem;
}

.jumbo-text p {
  margin: 1.5rem 0;
}

.button {
  background-color: rgba(255, 156, 52, 1);
  color: white;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 5px;

}

/*information*/
.information {
  display: flex;
}

.big {
  padding: 2rem 1.5rem;
  width: 60%
}

.big img {
width: 100%;
}

.big h2 {
  margin: 2rem 0 1.5rem 0;
  font-size: 2.5rem;
}

.big h5 {
  margin-top: 2rem;
}

.small {
  width: 40%;
  margin-top: 1rem;
}

.box {
  display: flex;
  align-items: center;
}

.box img {
  height: auto;
  width: 35%;
  padding: 1rem 1rem;
}

.text a {
  color: rgb(178, 91, 0);
}

/*learning content*/
.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learning h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-text {
  margin: 1rem 0 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.course-text h4 {
  text-transform: uppercase;
  font-size: 20px;
}

.course {
  display: flex;
  flex-flow: column wrap;
  margin: 0 1rem 1rem 1rem;
  max-width: 535px;
  background-color: white;
}

.course img {
  height: auto;
}

/*thesis content*/
.urban {
  width: 60%;
}

.big video {
  width: 100%;
}

.urban h3 {

}

.exhibit {
  display: flex;
}

.thesis h2 {
  margin: 2rem 0;
  font-size: 2.5rem;
  text-align: center;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 0 1.5rem;
  height: 3rem;
  font-size: 0.75rem;
}
